<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="index.js"></script>
    <title>The Stack Brokers</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script async src="./index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
<div id="container" class="container">
    <div id="insideContainer" class="insideContainer">
        <div id="border" class="border">
            <div id="Name" class="Name">
                <h1>Stack Brokers
            </div>
            <button onclick="window.location.href = 'index.html'" class="homeButton">Home</button>
            <button onclick="window.location.href = 'GoodStocks.html'"class="homeButton">Best Stocks</button>
            <button onclick="window.location.href ='worstStock.html'"class="homeButton">Worst Stocks</button>
            <button onclick="PopStocksButton()" class="homeButton">Popular Stocks</button>
            <button onclick="window.location.href = 'Industry.html'" class="homeButton">Browse Industries</button>
            <button onclick="NewsButton()" class="homeButton">Stock News</button>

            </h1>
            <br />
            <hr />
            <br />
        </div>
        <div ng-app="myApp" ng-controller="myCtrl" class="myTableStyle">
            <table class="mytable">
                <tr class="myrow">
                    <td class="label">Ticker</td>
                    <td class="label">Name</td>
                    <td class="label">Industry</td>
                    <td class="label">Current Stock</td>
                    <td class="label">Projected</td>



                </tr>
                <tr ng-repeat="x in stocks" class="myrow">
                    <td class="ele">{{x.ticker}}</td>
                    <td class="ele">{{x.fullName}}</td>
                    <td class="ele">{{x.industry}}</td>
                    <td class="ele">{{x.currentprice}}</td>
                    <td class="ele">{{x.projected}}</td>

                </tr>
            </table>
        </div>
        <div id='app2' ng-app="myApp2" ng-controller="myCtrl2" class="myTableStyle">
            <table class="mytable">
                <tr class="myrow">
                    <td class="label">URL</td>
                    <td class="label">Name</td>
                    <td class="label">Image</td>
                </tr>
                <tr ng-repeat="x in stocks" class="myrow">
                    <td class="ele">{{x.ticker}}</td>
                    <td class="ele">{{x.fullName}}</td>
                    <td class="ele">{{x.industry}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', [])
    app.controller('myCtrl', function($scope, $http) {
        $http.get("api/stocks/industry/food")
            .then(function(response) {
                $scope.stocks = response.data;
            });
        angular.bootstrap(document.getElementById('app2'), ['myApp2']);
    });
    var app = angular.module('myApp2', [])
    app.controller('myCtrl2', function($scope, $http) {
        $http.get("api/stocks/industry/TEMP")
            .then(function (response) {
                $scope.stocks = response.data;
            });
    });
</script>
</body>
</html>