body 
{
  background-image: url(background.png);
  font-family: "Proxima Nova", "Calibri", serif;
}

.container
{  
  text-align: center;
  background-color: #fff;
  width: 1000px;
  height: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.container-auto
{  
  text-align: center;
  background-color: #fff;
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
div.form
{
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
form
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.topnav
{
  margin-bottom: 10px;
}