<html>
<script src='index.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="./stylesheets/style.css"/>
<!-- imtiaz -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- imtiaz -->
<head>
  <title>The Stack Brokers - Best Stocks</title>
</head>

<body>
<div id="container" class="container">
  <div class="topnav">
    <h1>Best Stock Projections</h1> 
    <button onclick="window.location.href = 'index.html'" class="btn btn-primary">Home</button>
    <button onclick="window.location.href = 'GoodStocks.html'"class="btn btn-success">Best Stocks</button>
    <button onclick="window.location.href ='worstStock.html'"class="btn btn-danger">Worst Stocks</button>
    <button onclick="PopStocksButton()" class="btn btn-info">Fantasy Stocks</button>
    <button onclick="window.location.href = 'Industry.html'" class="btn btn-info">Stock News By Industries</button>
  </div>
  <!-- <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script> -->
  <div ng-app="myApp" ng-controller="myCtrl">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">TICKER</th>
          <th scope="col">NAME</th>
          <th scope="col">INDUSTRY</th>
          <th scope="col">CURRENT PRICE</th>
          <th scope="col">PROJECTED</th>
        </tr>
      </thead>
      <tr ng-repeat="x in output">
        <td>{{x.ticker}}</td>
        <td>{{x.fullName}}</td>
        <td>{{x.industry}}</td>
        <td>${{x.currentprice}}</td>
        <td ng-if="x.hybrid < 0.02" class="text-danger">{{x.hybrid}}</td>
        <td ng-if="x.hybrid > 0.02" class="text-success">{{x.hybrid}}</td>
        <td ng-if="x.hybrid === 0.02">{{x.hybrid}}</td>
      </tr>
    </table>
  </div>
</div>
</body>

<!-- <script>
 var app = angular.module('myApp', [])
    app.controller('myCtrl', function($scope, $http) {
                  $http.get("api/stocks/top")
                .then(function(response) {
                    $scope.stocks = response.data;
               });   
        });   
</script> -->
<script>
  var i = 0;
  var j;
  var app = angular.module('myApp', [])
    app.controller('myCtrl', function($scope, $http) {
                $scope.output = [];
                  $http.get("api/stocks/top")
                .then(function(response) {
                    $scope.stocks = response.data;
                    console.log($scope.stocks);
                    $http.get("api/stocks/")
                            .then(function (response1) {
                              $scope.something = response1.data;
                              // console.log($scope.something);
                              for (j=0; j<$scope.something.length; j++) {
                                if ($scope.output.length === 20) {
                                  break;
                                } else {
                                  var ticker = $scope.stocks[i].ticker;
                                  var temp = $scope.something[j].ticker;
                                  if (ticker.localeCompare(temp) === 0) {
                                    console.log($scope.stocks[0].currentprice);
                                    var fullName = $scope.something[j].fullName;
                                    var industry = $scope.something[j].industry;
                                    var currentprice = $scope.stocks[i].currentprice;
                                    var latestavgsentiment = $scope.stocks[i].latestavgsentiment;
                                    var hybrid = $scope.stocks[i].Hybrid;
                                    $scope.output.push({ticker, fullName,industry, currentprice, latestavgsentiment, hybrid});
                                    // console.log($scope.output);
                                    j = -1;
                                    i++;
                                  }
                                }
                              }
            })
                });
        });   
</script>
</html>
