<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="HandheldFriendly" content="true">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <title>The Stack Brokers</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div id="container" class="container">
      <div id="insideContainer" class="insideContainer">
          <div id="border" class="border">
          <div id="Name" class="Name">
              <h1>Stack Brokers</h1>
          </div>
          <button onclick="window.location.href = 'index.html'" class="homeButton">Home</button>
          <button onclick="window.location.href = 'GoodStocks.html'"class="homeButton">Best Stocks</button>
          <button onclick="window.location.href ='worstStock.html'"class="homeButton">Worst Stocks</button>
          <button onclick="window.location.href = 'PLACEHOLDER.html'" class="homeButton">Popular Stocks</button>
          <button onclick="window.location.href = 'Industry.html'" class="homeButton">Browse Industries</button>
          <button onclick="window.location.href = 'StockNews.html'" class="homeButton">Stock News</button>
        <br />
        <hr />
        <br />    
      </div>
        <div class="Message">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div ng-app="myApp" ng-controller="myCtrl" class="myTableStyle">
         <div id="SearchBarName" class="SearchBarName">
            Find A Stock
         <div> 
          
        <form id="searchBarForm" ng-submit="search()">
          <input type="text" id="searchBar" ng-model="input" ng-pattern="/^[a-zA-Z]+$/" placeholder="Search For A Stock" autocomplete="on" class="search"/>
          <button id="submit" onclick="searchFunction();" ng-click="getInfo()" class="submit">Search</button>
        </form>  
      </div>

             <table id="table" class="mytable">
                 <tr class="myrow">
                     <td class="label">Ticker</td>
                     <td class="label">Name</td>
                     <td class="label">Industry</td>
                     <td class="label">Current Stock</td>
                     <td class="label">Projected</td>

                 </tr>
                 <tr ng-repeat="x in stocks">
                     <td>{{x.ticker}}</td>
                     <td>{{x.fullName}}</td>
                     <td>{{x.industry}}</td>
                     <td ng-repeat="x in projected">{{x.currentprice}}</td>
                     <td ng-repeat="x in projected">{{x.latestavgsentiment}}</td>
                 </tr>
             </table>
        </div>
      </div>
        <div id="content" class="content">
            <img src="stockGraph.jpg" class="Image">

           </div>
        <div id="general" class="generalPurpose">

        </div>
      </div>
        <div id="footer" class="footer">
          CopyRight &copy; 2019 The Stack Brokers.
        
      </div>
    </div>

        <script>
            function searchFunction(){
                var input = document.getElementById("searchBar").value;
                var n = input.length;
                var letters = /^[A-Za-z]+$/;
                if(letters.test(input) == true){
                    if (n>5 | n===0)
                    {
                        alert("Please Enter A Valid Ticker");
                    }
                }
                else{
                    alert("Please Enter A Valid Ticker");
                }
            }
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function ($scope, $http) {
                    $scope.getInfo = function (input) {
                        $scope.combined = {};
                        if ($scope.input != null && $scope.input !== "") {
                            $http.get('api/stocks/' + $scope.input)
                                .then(function (response) {
                                    $scope.stocks = response.data;
                                    if(response.data.length === 0)
                                        alert("You Entered A Ticker That Does Not Exist");
                                    $http.get('api/stocks/' + $scope.input + '/projection')
                                        .then(function (response1) {
                                            $scope.projected = response1.data;
                                        });
                                });
                        }
                    }
                });
           </script>
  </body>
</html>
