<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="HandheldFriendly" content="true">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="index.js"></script>
    <title>The Stack Brokers</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script async src="./index.js"></script>
  </head>
  <body>
    <div id="container" class="container">
      <div id="insideContainer" class="insideContainer">
          <div id="border" class="border">
          <div id="Name" class="Name">
              <h1>Stack Brokers</h1>
          </div>
          <button onclick="window.location.href = 'index.html'" class="homeButton">Home</button>
          <button onclick="window.location.href = 'GoodStocks.html'"class="homeButton">Best Stocks</button>
          <button onclick="window.location.href ='worstStock.html'"class="homeButton">Worst Stocks</button>
          <button onclick="window.location.href = 'PLACEHOLDER.html'" class="homeButton">Popular Stocks</button>
          <button onclick="window.location.href = 'Industry.html'" class="homeButton">Browse Industries</button>
          <button onclick="window.location.href = 'StockNews.html'" class="homeButton">Stock News</button>
        <br />
        <hr />
        <br />    
      </div>
        <div class="Message">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div ng-app="myApp" ng-controller="myCtrl" class="myTableStyle">
         <div id="SearchBarName" class="SearchBarName">
            Find A Stock
         <div> 
          
        <form id="searchBarForm" ng-submit="search()">
          <input type="text" id="searchBar" ng-model="input" ng-pattern="/^[a-zA-Z]+$/" placeholder="Search For A Stock" autocomplete="on" class="search"/>
          <button id="submit" onclick="searchFunction();" ng-click="getInfo()" class="submit">Search</button>
        </form>  
      </div>
          
              <table id="table" class="mytable">
                <tr class="myrow">
                  <td class="label">Ticker</td>
                  <td class="label">Name</td>
                  <td class="label">Industry</td>
                  <td class="label">Current Stock</td>
                  <td class="label">Projected</td>
                  
                </tr>
                <tr ng-repeat="x in stocks" class="myrow">
                  <td class="ele">{{x.ticker}}</td>
                  <td class="ele">{{x.fullName}}</td>
                  <td class="ele">{{x.industry}}</td>
                  <td class="ele">{{x.currentprice}}</td>
                  <td class="ele">{{x.projected}}</td>  
                </tr>
                </tbody>
              </table>
           
        </div>
      </div>
        <div id="content" class="content">
            <img src="stockGraph.jpg" class="Image">

            <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
            <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
        </div>
        <div id="general" class="generalPurpose">
           <p> "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
            
        </div>
      </div>
        <div id="footer" class="footer">
          CopyRight &copy; 2019 The Stack Brokers.
        
      </div>
    </div>

        <script>
            function searchFunction(){
                var input = document.getElementById("searchBar").value;
                var n = input.length;
                var letters = /^[A-Za-z]+$/;
                if(letters.test(input) == true){
                    if (n>5 | n===0)
                    {
                        alert("Please Enter A Valid Ticker");
                    }

                }
                else{
                    alert("Please Enter A Valid Ticker");
                }
            }
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function ($scope, $http) {
                    $scope.getInfo = function (input) {
                        if ($scope.input != null && $scope.input !== "") {
                            $scope.errorCheck = "";
                            $http.get('api/stocks/' + $scope.input)
                                .then(function (response) {
                                    $scope.stocks = response.data;
                                    if(response.data.length === 0)
                                        alert("You Entered A Ticker That Does Not Exist");
                                });
                        }
                    }
                });

           </script>
  </body>
</html>
