<html>
<!-- <script src='index.js'></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="./stylesheets/style.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- imtiaz -->
<!-- <link rel="stylesheet" href="./stylesheets/styleIndustry.css"/> -->
<head>
  <title>The Stack Brokers - Industries</title>
    <!-- <script src="../routes/stocks.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="styleIndustry.css">
    <link rel="stylesheet" href="stylesheets/styleIndustry.css"> -->
</head>

<body>
<div class="container-auto">
    <div class="topnav">
        <h1>Stocks by Industry</h1> 
        <button onclick="window.location.href = 'index.html'" class="btn btn-primary">Home</button>
        <button onclick="window.location.href = 'GoodStocks.html'"class="btn btn-success">Best Stocks</button>
        <button onclick="window.location.href ='worstStock.html'"class="btn btn-danger">Worst Stocks</button>
        <button onclick="PopStocksButton()" class="btn btn-info">Fantasy Stocks</button>
        <button onclick="window.location.href = 'Industry.html'" class="btn btn-info">Stock News By Industries</button>
      </div>
    
    <div ng-app="myApp" ng-controller="myCtrl" ng-init="getArticles('tech')">
        <div class="topnav">
            <div class="btn-group">
                <button ng-click="getArticles('tech')" class="btn btn-sm btn-primary">Technology</button>
                <button ng-click="getArticles('food')" class="btn btn-sm btn-secondary">Food</button>
                <button ng-click="getArticles('finance')" class="btn btn-sm btn-success">Finance</button>
                <button ng-click="getArticles('energy')" class="btn btn-sm btn-warning">Energy</button>
                <button ng-click="getArticles('health')" class="btn btn-sm btn-info">Health</button>
            </div>
        </div>
        <!-- <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col">TICKER</th>
                <th scope="col">NAME</th>
                <th scope="col">INDUSTRY</th>
                <th scope="col">CURRENT PRICE</th>
                <th scope="col">PROJECTED</th>
                </tr>
            </thead>
            <tr ng-repeat="x in stocks">
                <td>{{x.ticker}}</td>
                <td>{{x.fullName}}</td>
                <td>{{x.industry}}</td>
                <td>${{x.currentprice}}</td>
                <td>{{x.projected}}</td>
            </tr>
        </table> -->
        <div class="card bg-dark mb-3" ng-repeat="a in output">
            <div class="card-header text-light" style="text-align: left;"><strong>{{a.ticker}}</strong></div>
            <div class="card-body bg-light">
                <h6 class="card-title"><a href="{{a.url}}">{{a.title}}</a></h6>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $scope.getArticles = function (input) {
            $http.get('api/stocks/industry/' + input)
            .then(function (response) { 
                $scope.stocks = response.data; 
                $scope.output = [];
                numArticles = 3;
                $scope.stocks.forEach(stock => {
                    $http.get('api/articles/' + stock.ticker)
                    .then(function (response1) { 
                        response1.data.slice(0,numArticles).forEach(article => {
                            $scope.output.push(article);
                        }); 
                    });
                });
            }); 
        }
    });
</script>
</html>
